<h1>Other Users:</h1>
<ul>
    <% @other_users.each do |user| %>
        <li><%= user.username %>
        <% if @followed_users.include?(user) %>
            <% fol = @follows.find { |f| f.followed_id == user.id} %>
            <%= button_to "Unfollow", follow_path(fol.id), method: :delete %>
        <% else %>
            <%= button_to "Follow", follows_path(follower_id: @current_user.id, followed_id: user.id) %>
        <% end %>
        </li>
    <% end %>
</ul>
