
<div class="ui fluid category search">
    <div class="ui icon input">
        <%= form_tag(cards_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search], class: 'prompt', placeholder: 'Search cards...') %>
            <%= submit_tag 'Search' %>
        <% end %>
    </div>
    <div class="results"></div>
</div>

<div class="cards">
<% @cards.each do |card| %>
    <div><%= link_to image_tag(card.img_url, class: 'card', alt: card.name), card_path(card) %></div>
<% end %>
</div>