img.card {
    width: 100%;
    height: auto; 
     
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
}

.card {
    float: left;
    padding: 10px;
}

.card_show {
    background-color: rgba(245, 245, 245, 0.671);
}
