<%= @deck.name %><br>

<ul>
<% @deck.cards.each do |card| %>
    <% @deck_card = card.deck_cards.find_by(deck_id: params[:id]) %>
    <li><%= link_to card.name, card_path(card) %><%= link_to "Remove from Deck", deck_card_path(@deck_card),  method: :delete %></li>
<% end %>
</ul>

<%= link_to "Add cards to deck", "/cards" %>